{% extends 'base.html' %}
{% block card %}
    <div class="container">
        <div class="row">
            <h3 class="text-uppercase resume-section-heading mb-4">Articles</h3>
        </div>
    </div>
{% endblock %}
{% block content %}
    {% for blog in page_obj %}
        <div class="row justify-content-center my-3">
            <div class="col-md-10">
                <a href="{% url 'detail' blog.id %}">
                    <h3>{{ blog.title }}</h3>
                </a>
                <h6 class="text-muted">{{ blog.date|date:'M d Y'|upper }}</h6>
                <h5>{{ blog.description|striptags|truncatechars:100 }}</h5>
            </div>
        </div>
    {% endfor %}
{% endblock %}